#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "MQTT simple sample"

config PROVISION_CERTIFICATES
	bool "Provision of certificate"
	help
		Enable run-time provisioning of certificates from the
		certificates header file selected by using CERTIFICATES_FILE

config CERTIFICATES_FILE
	string "Certificates to use"
	depends on PROVISION_CERTIFICATES
	default "certificates.h"

config SEC_TAG
	int "Security tag to use for the connection"
	default 78
	
config PEER_VERIFY
    int "Peer verify parameter for mqtt_client"
    default 1
    help
        Set to 0 for VERIFY_NONE, 1 for VERIFY_OPTIONAL, and 2 for VERIFY_REQUIRED.

config MQTT_PUB_TOPIC
	string "MQTT publish topic"
	default "@online/5d0f6457-8ab4-4ee2-9363-438f2de5b278"
	
config BEDROOM_TOPIC
	string "MQTT publish topic"
	default "@online/5d0f6457-8ab4-4ee2-9363-438f2de5b278/Bedroom/TempController/TempMeasurement/BedroomTemp"
	
config KITCHEN_TOPIC
	string "MQTT publish topic"
	default "@online/5d0f6457-8ab4-4ee2-9363-438f2de5b278/Kitchen/TempMeasurement/KitchenTemp"

config MQTT_SUB_TOPIC
	string "MQTT subscribe topic"
	default "@set/5d0f6457-8ab4-4ee2-9363-438f2de5b278/#"

config MQTT_CLIENT_ID
	string "MQTT Client ID"
	default "my-client-id"

config MQTT_BROKER_HOSTNAME
	string "MQTT broker hostname"
	default "153.109.15.40"

config MQTT_BROKER_PORT
	int "MQTT broker port"
	default 8883

config MQTT_MESSAGE_BUFFER_SIZE
	int ""
	default 2048

config MQTT_PAYLOAD_BUFFER_SIZE
	int ""
	default 2048

endmenu

menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"
endmenu